[submodule "src/Common.Tools"]
	path = src/Common.Tools
	url = git@git.analit.net:root/common-tools
[submodule "src/Common.MySql"]
	path = src/Common.MySql
	url = git@git.analit.net:root/common-mysql
[submodule "src/Test.Support"]
	path = src/Test.Support
	url = git@git.analit.net:root/test-support
