<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Inforoom.UEEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   <section name="UEEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<connectionStrings>
		<add name="master" connectionString="server=testsql.analit.net; username=system; password=newpass; database=farm;convert zero datetime=true;  pooling=true;Allow user variables=true;Logging=true;"/>
		<add name="slave" connectionString="server=testsql.analit.net; username=system; password=newpass; database=farm;convert zero datetime=true;  pooling=true;Allow user variables=true;"/>
		<add name="test" connectionString="server=sql.analit.net; username=Morozov; password=Srt38123; database=farm;convert zero datetime=true;  pooling=true;Allow user variables=true;Logging=true;"/>
	</connectionStrings>

	<log4net>

		<appender name="LogFile" type="log4net.Appender.RollingFileAppender, log4net">
			<file type="log4net.Util.PatternString" value="%appdomain_" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<staticLogFileName value="false" />
			<datePattern value="yyyy-MM-dd'.log'" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="&#xD;&#xA;&#xD;&#xA;[Start]&#xD;&#xA;" />
				<footer value="[Stop]&#xD;&#xA;" />
				<conversionPattern value="%date{HH:mm:ss.fff} [%-5thread] %-5level %-15logger{1} [%ndc] - %message%newline" />
			</layout>
		</appender>
		
		<appender name="Email" type="log4net.Appender.SmtpAppender,log4net">
			<to value="s.morozov@analit.net" />
			<from value="service@analit.net" />
			<subject value="Необработанная ошибка в UEEditor" />
			<smtpHost value="mail.adc.analit.net" />
			<lossy value="false" />
			<bufferSize value="1" />
			<layout type="log4net.Layout.PatternLayout,log4net">
				<conversionPattern value="Источник     = %logger{1}%newlineПользователь = %username%newlineКомпьютер    = %property{log4net:HostName}%newlineОшибка       =%newline%message" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
					<levelMin value="ERROR" />
					<levelMax value="FATAL" />
			</filter>
		</appender>		

		<root>
			<level value="DEBUG" />
			<appender-ref ref="LogFile" />
			<appender-ref ref="Email" />
		</root>
		
	</log4net>

	<applicationSettings>
		<Inforoom.UEEditor.Properties.Settings>
   <setting name="AboutNamesSubject" serializeAs="String">
    <value>Уведомление%20о%20нераспознанных%20наименованиях%20для%20{0}</value>
   </setting>
   <setting name="AboutFirmSubject" serializeAs="String">
    <value>Уведомление%20о%20нераспознанных%20изготовителях%20для%20{0}</value>
   </setting>
   <setting name="AboutFirmBody" serializeAs="String">
    <value>Здравствуйте,%0D%0A%0D%0A
%20%20%20%20%20При обработке Вашего {0} прайс-листа не удалось сопоставить наименования некоторых изготовителей с нашим каталогом по причинам, описанным ниже:%0D%0A%0D%0A%0D%0A%0D%0A
%20%20%20%20%20Просьба внести изменения в написание указанных изготовителей в Вашем прайс-листе.%0D%0A
Уведомляем вас, что до внесения изменений или получения нами от Вас информации по этому вопросу, перечисленные изготовители не будут указываться в Вашем прайс-листе.%0D%0A%0D%0A
%20%20%20%20%20Вы можете контролировать процесс обработки Вашего прайс-листа, используя интерфейс управления:%0D%0A
%20%20%20%20%20- раздел "Прайс-листы" - ссылка "Информация о формализации";%0D%0A
%20%20%20%20%20- раздел "Управление сопоставлением".%0D%0A%0D%0A
С уважением,%0D%0A
Аналитическая компания "Инфорум" г.Воронеж%0D%0A
Тел.:%0D%0A
Москва +7 495 6628727%0D%0A
С.-Петербург +7 812 3090521%0D%0A
Воронеж +7 4732 606000%0D%0A
Челябинск +7 351 7298143%0D%0A
E-mail: pharm@analit.net%0D%0A
http://www.analit.net</value>
   </setting>
   <setting name="AboutNamesBody" serializeAs="String">
    <value>Здравствуйте,%0D%0A%0D%0A
%20%20%20%20%20При обработке Вашего {0} прайс-листа не опубликован (не доступен Вашим клиентам) ряд позиций, которые не удалось сопоставить с торговыми наименованиями нашего каталога по причинам, описанным ниже: %0D%0A%0D%0A%0D%0A%0D%0A
%20%20%20%20%20Просьба внести изменения в написание указанных позиций Вашего прайс-листа.%0D%0A
Уведомляем вас, что до внесения изменений или получения нами от Вас информации по этому вопросу, перечисленные позиции будут блокированы.%0D%0A%0D%0A
%20%20%20%20%20Вы можете контролировать процесс обработки Вашего прайс-листа, используя интерфейс управления:%0D%0A
%20%20%20%20%20- раздел "Прайс-листы" - ссылка "Информация о формализации";%0D%0A
%20%20%20%20%20- раздел "Управление сопоставлением".%0D%0A%0D%0A
С уважением,%0D%0A
Аналитическая компания "Инфорум" г.Воронеж%0D%0A
Тел.:%0D%0A
Москва +7 495 6628727%0D%0A
С.-Петербург +7 812 3090521%0D%0A
Воронеж +7 4732 606000%0D%0A
Челябинск +7 351 7298143%0D%0A
E-mail: pharm@analit.net%0D%0A
http://www.analit.net</value>
   </setting>
   <setting name="PriceProcessorURL" serializeAs="String">
    <value>tcp://fms.adc.analit.net:889/RemotePriceProcessor</value>
   </setting>
  </Inforoom.UEEditor.Properties.Settings>
  <UEEditor.Properties.Settings>
			<setting name="AboutNamesSubject" serializeAs="String">
				<value>Уведомление%20о%20нераспознанных%20наименованиях%20для%20{0}</value>
			</setting>
			<setting name="AboutFirmSubject" serializeAs="String">
				<value>Уведомление%20о%20нераспознанных%20изготовителях%20для%20{0}</value>
			</setting>
			<setting name="AboutFirmBody" serializeAs="String">
				<value>
					Здравствуйте,%0D%0A%0D%0A
					%20%20%20%20%20При обработке Вашего {0} прайс-листа не удалось сопоставить наименования некоторых изготовителей с нашим каталогом по причинам, описанным ниже:%0D%0A%0D%0A%0D%0A%0D%0A
					%20%20%20%20%20Просьба внести изменения в написание указанных изготовителей в Вашем прайс-листе.%0D%0A
					Уведомляем вас, что до внесения изменений или получения нами от Вас информации по этому вопросу, перечисленные изготовители не будут указываться в Вашем прайс-листе.%0D%0A%0D%0A
					%20%20%20%20%20Вы можете контролировать процесс обработки Вашего прайс-листа, используя интерфейс управления:%0D%0A
					%20%20%20%20%20- раздел "Прайс-листы" - ссылка "Информация о формализации";%0D%0A
					%20%20%20%20%20- раздел "Управление сопоставлением".%0D%0A%0D%0A
					С уважением,%0D%0A
					Аналитическая компания "Инфорум" г.Воронеж%0D%0A
					Тел.:%0D%0A
					Москва +7 495 6628727%0D%0A
					С.-Петербург +7 812 3090521%0D%0A
					Воронеж +7 4732 606000%0D%0A
					Челябинск +7 351 7298143%0D%0A
					E-mail: pharm@analit.net%0D%0A
					http://www.analit.net
				</value>
			</setting>
			<setting name="AboutNamesBody" serializeAs="String">
				<value>
					Здравствуйте,%0D%0A%0D%0A
					%20%20%20%20%20При обработке Вашего {0} прайс-листа не опубликован (не доступен Вашим клиентам) ряд позиций, которые не удалось сопоставить с торговыми наименованиями нашего каталога по причинам, описанным ниже: %0D%0A%0D%0A%0D%0A%0D%0A
					%20%20%20%20%20Просьба внести изменения в написание указанных позиций Вашего прайс-листа.%0D%0A
					Уведомляем вас, что до внесения изменений или получения нами от Вас информации по этому вопросу, перечисленные позиции будут блокированы.%0D%0A%0D%0A
					%20%20%20%20%20Вы можете контролировать процесс обработки Вашего прайс-листа, используя интерфейс управления:%0D%0A
					%20%20%20%20%20- раздел "Прайс-листы" - ссылка "Информация о формализации";%0D%0A
					%20%20%20%20%20- раздел "Управление сопоставлением".%0D%0A%0D%0A
					С уважением,%0D%0A
					Аналитическая компания "Инфорум" г.Воронеж%0D%0A
					Тел.:%0D%0A
					Москва +7 495 6628727%0D%0A
					С.-Петербург +7 812 3090521%0D%0A
					Воронеж +7 4732 606000%0D%0A
					Челябинск +7 351 7298143%0D%0A
					E-mail: pharm@analit.net%0D%0A
					http://www.analit.net
				</value>
			</setting>
			<setting name="PriceProcessorURL" serializeAs="String">
				<value>tcp://fms.adc.analit.net:889/RemotePriceProcessor</value>
			</setting>
		</UEEditor.Properties.Settings>
	</applicationSettings>
</configuration>