<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="UEEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
	</appSettings>
 <applicationSettings>
  <UEEditor.Properties.Settings>
   <setting name="AboutNamesSubject" serializeAs="String">
    <value>Уведомление%20для%20{0}%20о%20нераспознанных%20наименованиях</value>
   </setting>
   <setting name="AboutFirmSubject" serializeAs="String">
    <value>Уведомление%20для%20{0}%20о%20нераспознанных%20изготовителях</value>
   </setting>
   <setting name="AboutFirmBody" serializeAs="String">
    <value>Здравствуйте. %0D%0A%0D%0A
При обработке прайс-листа {0}
 не удалось соотнести наименования некоторых изготовителей с нашим каталогом по причинам описанным ниже: %0D%0A%0D%0A
{1}%0D%0A%0D%0A%0D%0A
Просьба внести изменения в написание указанных изготовителей в Вашем прайс-листе.%0D%0A%0D%0A
До внесения изменений или получения нами информации по этому вопросу 
перечисленные изготовители не будут указываться в Вашем прайс-листе.%0D%0A%0D%0A
Вы можете контролировать процесс обработки Вашего прайс-листа, используя интерфейс управления(раздел %22Прайс-листы%22 - ссылка %22Информация о формализации%22).%0D%0A%0D%0A
С уважением,%0D%0AАналитическая Компания %22Инфорум%22 г.Воронеж%0D%0A
Тел.: +7 4732 206000%0D%0A
%0D%0AEmail: pharm@analit.net%0D%0Ahttp://www.analit.net</value>
   </setting>
   <setting name="AboutNamesBody" serializeAs="String">
    <value>Здравствуйте. %0D%0A%0D%0A
При обработке прайс-листа {0} не опубликован ряд 
позиций, которые не удалось соотнести с торговыми наименованиями нашего каталога по причинам описанным ниже: %0D%0A%0D%0A
{1}%0D%0A%0D%0A%0D%0A
Просьба внести изменения в написание указанных позиций Вашего прайс-листа.%0D%0A%0D%0A
Уведомляем Вас, что до внесения изменений или получения нами информации по этому вопросу 
перечисленные позиции будут блокированы.%0D%0A%0D%0A
Вы можете контролировать процесс обработки Вашего прайс-листа, используя интерфейс управления(раздел %22Прайс-листы%22 - ссылка %22Информация о формализации%22).%0D%0A%0D%0A
С уважением,%0D%0AАналитическая Компания %22Инфорум%22 г.Воронеж %0D%0A
Тел.: +7 4732 206000%0D%0A
%0D%0AEmail: pharm@analit.net%0D%0Ahttp://www.analit.net</value>
   </setting>
  </UEEditor.Properties.Settings>
 </applicationSettings>
</configuration>